<%- include('partials/head') %>
<%- include('partials/navbar') %>
<main class="container my-4">
  <h1> forma profissionais para projetar, desenvolver, testar, documentar e manter sistemas computacionais e aplicativos para plataformas web e mobile</p>
  <ul>
    <li>Objetivo: criar programadores</li>
    <li>Atividade prática</li>
    <li>Computadores</li>
  </ul>
</main>
<%- include('partials/footer') %>