<%- include('partials/head') %>
<%- include('partials/navbar') %>
<main class="container my-4">
  <h1>Componente de Administração</h1>
  <p>Dforma profissionais com conhecimentos em gestão de recursos humanos, financeiros, materiais e mercadológicos, preparando-os para atuar em diversas áreas de uma organização em setores públicos, privados e do terceiro setor.</p>
  <ul>
    <li>Objetivo formar administradores</li>
    <li>Atividade administrar</li>
    <li>Recursos humanos</li>
  </ul>
</main>
<%- include('partials/footer') %>