<%- include('partials/head') %>
<%- include('partials/navbar') %>

<main class="container my-4">
  <h1>Sobre o EPA</h1>
  <p>‘Etecs de Portas Abertas’ recebem estudantes, pais e empresários
Eventos convidam comunidade e alunos de Ensino Fundamental a conhecer dependências das unidades e cursos; confira programação em diferentes regiões do Estado</p>

  <div class="row">
    <div class="col-md-6">
      <img src="/images/logo-epa.png" class="img-fluid mb-3" alt="EPA" />
    </div>
    <div class="col-md-6">
      <img src="/images/flaticon1.png" class="img-fluid mb-3" alt="Flaticon 1" />
    </div>
  </div>

  <!-- youtube embed (exemplo) -->
  <div class="ratio ratio-16x9 my-3">
    <iframe src="https://www.youtube.com/watch?v=Qo91yCWKiqk" title="YouTube video" allowfullscreen></iframe>
  </div>

</main>

<%- include('partials/footer') %>
